
#name {
    position: absolute;
    display:block;
    width: 60%;
    left:50%;
    top:50%;
    z-index: 50;
    transform:translate(-50%,-50%);
}

#name mask,#name {
    animation: filling 2s ease forwards 4s;
}

#name path:nth-child(1) {

    stroke-dasharray: 120;
    stroke-dashoffset: 10;
    animation: line-anime 4s ease forwards 1s ;
}

#name path:nth-child(2) {
    stroke-dasharray: 389;
    stroke-dashoffset: 389;
    animation: line-anime 4s ease forwards 1s ;

}

#name path:nth-child(3) {
    stroke-dasharray: 300;
    stroke-dashoffset: 300;
    animation: line-anime 4s ease forwards 1s ;


}

#name path:nth-child(4) {
    stroke-dasharray: 314;
    stroke-dashoffset: 314;
    animation: line-anime 4s ease forwards 1s ;

}

#name path:nth-child(5) {
    stroke-dasharray: 399;
    stroke-dashoffset: 399;
    animation: line-anime 4s ease forwards 1s ;

}

#name path:nth-child(6) {
    stroke-dasharray: 389;
    stroke-dashoffset: 389;
    animation: line-anime 4s ease forwards 1s ;

}

#name path:nth-child(7) {
    stroke-dasharray: 389;
    stroke-dashoffset: 389;
    animation: line-anime 4s ease forwards 1s ;

}

#name path:nth-child(8) {
    stroke-dasharray: 389;
    stroke-dashoffset: 389;
    animation: line-anime 4s ease forwards 1s ;

}

#name path:nth-child(9) {
    stroke-dasharray: 389;
    stroke-dashoffset: 389;
    animation: line-anime 4s ease forwards 1s ;

}

#name path:nth-child(10) {
    stroke-dasharray: 389;
    stroke-dashoffset: 389;
    animation: line-anime 4s ease forwards 1s ;

}

#name path:nth-child(11) {
    stroke-dasharray: 300;
    stroke-dashoffset: 300;
    animation: line-anime 4s ease forwards 1s ;

}

@keyframes line-anime {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes filling {
    from {
        fill:transparent;
    }
    to {
        fill:white;
    }
}