#layer{
    background-color: rgba(150, 4, 16, 0.98);
    min-height: calc(100Vh + 50px);
    width: 100%;
    position: relative;
    margin-top:  calc(-100vh);
    z-index: 2;
}

.contend_body {
    display: block;
    position:absolute;
    z-index:5;
    width: 100%;
    background-color: #C4C4C4;
    left:475px;
    top:320px;
    height:100Vh;
    overflow-x: hidden;
    overflow-x: auto;
    text-align:justify;
    transform:translate(-50%,-50%);
}

.linkBox {
    min-height: 100px;
    background-color: white;
    position: absolute;
    z-index: 3;
}

.linkBoxSvg {
    display: block;
    width: 50px;
    height: 30px;
}


#left_upper_box {
    margin-top: 20px;
    animation: toCenter-left-upper 1s ease-in forwards 1s;
}

#left_upper_box.goCorner {
    animation: toCorner-left-upper 0.5s ease forwards;
}

#left_upper_box.showContent {
    animation: content-left-upper 1s linear forwards;
}
#left_upper_box.showContent-from-corner {
    animation: content-left-upper-from-corner 1s linear forwards;
}



#right_upper_box {
    margin-top: 20px;

    animation: toCenter-right-upper 1s ease-in forwards 1s;
}

#right_upper_box.goCorner {
    animation: toCorner-right-upper 0.5s ease forwards;
}

#right_upper_box.showContent {
    animation: content-right-upper 1s linear forwards;
}

#right_upper_box.showContent-from-corner {
    animation: content-right-upper-from-corner 1s linear forwards;
}


#left_lower_box{
    margin-top: calc(80Vh);
    margin-right: 10px;
    animation: toCenter-left-lower 1s ease-in forwards 1s;
}

#left_lower_box.goCorner {
    animation: toCorner-left-lower 0.5s ease forwards;
}

#left_lower_box.showContent {
    animation: content-left-lower 1s linear forwards;
}
#left_lower_box.showContent-from-corner {
    animation: content-left-lower-from-corner 1s linear forwards;
}


#right_lower_box{
    margin-top: calc(80Vh);
    margin-right: 10px;
    animation: toCenter-right-lower 1s ease-in forwards 1s;
}

#right_lower_box.goCorner {
    animation: toCorner-right-lower 0.5s ease forwards;
}

#right_lower_box.showContent {
    animation: content-right-lower 1s linear forwards;
}
#right_lower_box.showContent-from-corner {
    animation: content-right-lower-from-corner 1s linear forwards;
}




#name {
    position: absolute;
    display:block;
    width: 60%;
    left:50%;
    top:50%;
    z-index: 3;
    transform:translate(-50%,-80%);
}

#name mask,#name {
    animation: filling 2s ease forwards 4s;
}

#name path:nth-child(1) {

    stroke-dasharray: 120;
    stroke-dashoffset: 10;
    animation: line-anime 4s ease forwards 1s ;
}

#name path:nth-child(2) {
    stroke-dasharray: 389;
    stroke-dashoffset: 389;
    animation: line-anime 4s ease forwards 1s ;

}

#name path:nth-child(3) {
    stroke-dasharray: 300;
    stroke-dashoffset: 300;
    animation: line-anime 4s ease forwards 1s ;


}

#name path:nth-child(4) {
    stroke-dasharray: 314;
    stroke-dashoffset: 314;
    animation: line-anime 4s ease forwards 1s ;

}

#name path:nth-child(5) {
    stroke-dasharray: 399;
    stroke-dashoffset: 399;
    animation: line-anime 4s ease forwards 1s ;

}

#name path:nth-child(6) {
    stroke-dasharray: 389;
    stroke-dashoffset: 389;
    animation: line-anime 4s ease forwards 1s ;

}

#name path:nth-child(7) {
    stroke-dasharray: 389;
    stroke-dashoffset: 389;
    animation: line-anime 4s ease forwards 1s ;

}

#name path:nth-child(8) {
    stroke-dasharray: 389;
    stroke-dashoffset: 389;
    animation: line-anime 4s ease forwards 1s ;

}

#name path:nth-child(9) {
    stroke-dasharray: 389;
    stroke-dashoffset: 389;
    animation: line-anime 4s ease forwards 1s ;

}

#name path:nth-child(10) {
    stroke-dasharray: 389;
    stroke-dashoffset: 389;
    animation: line-anime 4s ease forwards 1s ;

}

#name path:nth-child(11) {
    stroke-dasharray: 300;
    stroke-dashoffset: 300;
    animation: line-anime 4s ease forwards 1s ;

}

@keyframes line-anime {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes filling {
    from {
        fill:transparent;
    }
    to {
        fill:white;
    }
}

@keyframes moveName {
    to {
        transform:translateY(-100px);
    }
}

@keyframes toCenter-left-upper {
    to {
        transform:translate(200px,50Vh);
    }
}

@keyframes toCorner-left-upper {
    from {
        transform:translate(200px,50Vh);
    }
    to {
        margin-left:0px;
    }
}

@keyframes content-left-upper {

    0% {
        transform:translate(200px,50Vh) rotateX(0deg) scale(1);
        opacity: 1;
    }

    50% {
        transform:translate(370px,42Vh) rotateX(360deg) scale(2,2);
        opacity: 1;
    }

    100%{
        transform:translate(575px,35.7Vh) rotateX(0deg)  scale(4.5,5);
        position:absolute;
        z-index: 4;
        opacity: 1;
    }
}

@keyframes content-left-upper-from-corner {

    0% {
        margin-left:0px;
        opacity: 1;
    }

    50% {
        transform:translate(350px,42Vh) rotateX(360deg) scale(2,2);
        opacity: 1;
    }


    100%{
        transform:translate(575px,35.7Vh) rotateX(0deg) scale(4.5,5);
        position:absolute;
        z-index: 4;
        opacity: 1;
    }
}




@keyframes toCenter-right-upper {
    to {
        transform:translate(-200px,50Vh);
    }
}

@keyframes toCorner-right-upper {
    from {
        transform:translate(-200px,50Vh);
    }
    to {
        margin-right: 10px;
    }
}

@keyframes content-right-upper {

    0% {
        transform:translate(-200px,50Vh) rotateX(0deg) scale(1);
        opacity: 1;

    }

    50% {
        transform:translate(-350px,42Vh) rotateX(360deg) scale(2,2);
        opacity: 1;

    }

    100%{
        transform:translate(-559px,35.6Vh) rotateX(0deg) scale(4.5,5);
        position:absolute;
        z-index: 4;
        opacity: 1;
    }
}

@keyframes content-right-upper-from-corner {

    0% {
        margin-right: 10px;
        opacity: 1;

    }

    50% {
        transform:translate(-350px,42Vh) rotateX(360deg) scale(2,2);
        opacity: 1;

    }

    100%{
        transform:translate(-559px,35.6Vh) rotateX(0deg) scale(4.5,5);
        position:absolute;
        z-index: 4;
        opacity: 1;
    }
}



@keyframes toCenter-left-lower {
    to {
        transform:translate(445px,-26.8Vh);
    }
}
@keyframes toCorner-left-lower {
    from {
        transform:translate(445px,-26.8Vh);
    }
    to {
        margin-left:0px;
    }
}
@keyframes content-left-lower {

    0% {
        transform:translate(445px,-26.8Vh) rotateX(0deg) scale(1);
        opacity: 1;

    }

    50% {
        transform:translate(500px,-30Vh) rotateX(360deg) scale(2,2);
        opacity: 1;

    }

    100%{
        transform:translate(569px,-41.2Vh) rotateX(0deg) scale(4.5,5);
        position:absolute;
        z-index: 4;
        opacity: 1;
    }
}
@keyframes content-left-lower-from-corner {

    0% {
        margin-left:0px;
        opacity: 1;

    }

    50% {
        transform:translate(500px,-30Vh) rotateX(360deg) scale(2,2);
        opacity: 1;

    }

    100%{
        transform:translate(569px,-41.2Vh) rotateX(0deg)scale(4.5,5);
        position:absolute;
        z-index: 4;
        opacity: 1;
    }
}



@keyframes toCenter-right-lower {
    to {
        transform:translate(-445px,-26.8Vh);
    }
}
@keyframes toCorner-right-lower {
    from {
        transform:translate(-445px,-26.8Vh);
    }
    to {
        margin-right:10px;
    }
}

@keyframes content-right-lower {

    0% {
        transform:translate(-445px,-26.8Vh) rotateX(0deg) scale(1);
        opacity: 1;

    }

    50% {
        transform:translate(-500px,-30Vh) rotateX(360deg) scale(2,2);
        opacity: 1;

    }

    100%{
        transform:translate(-560px,-41Vh) rotateX(0deg) scale(4.5,5);
        position:absolute;
        z-index: 4;
        opacity: 1;
    }
}
@keyframes content-right-lower-from-corner {

    0% {
        margin-right:10px;
        opacity: 1;

    }

    50% {
        transform:translate(-500px,-30Vh) rotateX(360deg) scale(2,2);
        opacity: 1;

    }

    100%{
        transform:translate(-560px,-41Vh) rotateX(0deg) scale(4.5,5);
        position:absolute;
        z-index: 4;
        opacity: 1;
    }
}